In [29]:
from pymongo import MongoClient
import pandas as pd

In [30]:
client = MongoClient("mongodb://localhost:27017/")
db = client.companies

In [31]:
companies = db.companies.find()

In [32]:
data_companies = pd.DataFrame(companies)

In [33]:
data_companies.head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,video_embeds,screenshots,external_links,partners,founded_month,founded_day,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d92,Flektor,flektor,http://www.crunchbase.com/company/flektor,http://www.flektor.com,http://www.flektor-blog.com,http://www.flektor-blog.com/video_editing_soft...,None,games_video,NaN,...,[],[],[],[],NaN,NaN,NaN,NaN,None,None
2,52cdef7c4bab8bd675297d8f,Omnidrive,omnidrive,http://www.crunchbase.com/company/omnidrive,http://www.omnidrive.com,http://www.omnidrive.com/blog,http://feeds.feedburner.com/omnidrive,Nomadesk,network_hosting,NaN,...,[],[],[],[],11.0,1.0,9.0,15.0,,None

In [75]:
data_companies.shape

(18801, 42)

In [83]:
data_companies[['total_money_raised']]

      total_money_raised
0                     $0
1                     $0
2                  $800k
3                     $0
4                 $39.8M
...                  ...
18796                 $0
18797                 $0
18798                 $0
18799                 $0
18800                 $0

[18801 rows x 1 columns]

In [77]:
acquisition = db.companies.find({"total_money_raised":{"$regex":'M'}})

In [78]:
acquisition = pd.DataFrame(acquisition)

In [ ]:
{"$and":[{"category_code":{"$eq":"design"}},

In [84]:
acquisition.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d91,Geni,geni,http://www.crunchbase.com/company/geni,http://www.geni.com,http://blog.geni.com,http://blog.geni.com/index.rdf,geni,web,18.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 15460, 'description': 'Announced hire ...","[{'embed_code': '<object width=""425"" height=""3...",[],[],[],NaN,NaN,None,None
2,52cdef7c4bab8bd675297d96,Gizmoz,gizmoz,http://www.crunchbase.com/company/gizmoz,http://gizmoz.com,,,None,web,NaN,...,"[{'description': None, 'address1': None, 'addr...",[],[],[],[],[],NaN,NaN,None,None
3,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,52cdef7c4bab8bd675297d99,Lala,lala,http://www.crunchbase.com/company/lala,http://www.lala.com,http://www.lala.com/#blog,http://www.lala.com/#blog,None,games_video,NaN,...,"[{'description': 'Lala Headquarters', 'address...","[{'id': 5065, 'description': 'Apple acquires L...",[],"[{'available_sizes': [[[150, 103], 'assets/ima...",[],[],NaN,NaN,None,None